<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="sidebar_first" class="sidebar_first" th:fragment="sidebar_first">
    <ul class="top_navigate">
        <li><a class="">首页</a></li>
        <li><a class="btn btn-sm"  href="/admin">管理员</a></li>
        <li><a class="btn btn-sm" href="/emps">员工</a></li>
        <li><a class="btn btn-sm" href="/dept">部门</a></li>
        <li><a class="btn btn-sm" href="/backstage">后台</a></li>
    </ul>
    </div>
</body>
</html>