<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="add.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/emp" method="post">
        <input type="text" name="name" placeholder="员工名">
        <input type="radio" name="sex" value="男">男
        <input type="radio" name="sex" value="女">女
        <input type="text" name="birthday" placeholder="生日">
        <input type="text" name="email" placeholder="邮箱">
        <input type="text" name="dept" placeholder="部门">
        <input type="submit" value="添加">
    </form>
</body>
</html>