<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forever</title>
    <link href="add.css" th:href="@{/asserts/css/addAndCheck.css}" rel="stylesheet">
</head>
<body>
    <!--此页面兼顾修改和添加页面
        添加页面为普通表单
        修改页面需要查出被修改的员工的信息进行回显以便修改
        区分：根据修改时拥有Employee对象而增加时没有进行区分
        thymeleaf th:if
        用post方法模拟put请求
        在 th:if 方法所处的标签，true则生效
        1 dates.format(employee.getBirthday(),'yyyy/MM/dd') 你是爹 yyyy/MM/dd 大小写错了你都是儿子！！！！
        2 后台数据库存储也要注意 会默认减一天 22 会变 23
    -->
    <form th:action="@{/emp}" method="post">
            <input type="hidden" name="_method" value="put" th:if="${employee!=null}">
            <input type="hidden" name="id" th:if="${employee!=null}" th:value="${employee.getId()}">
        <div>
            <span>姓名：</span>
            <input type="text" class="base" name="name"  th:value="${employee!=null}?${employee.getName()}">
        </div>
        <div class="select_sex">
            <span>性别：</span>
            <label for="male">男</label>
            <input type="radio"  id="male" name="sex" value="男" th:checked="${employee!=null} and ${employee.getSex()=='男'}?checked">
            <label for="female">女</label>
            <input type="radio"  id="female" name="sex" value="女" th:checked="${employee!=null} and ${employee.getSex()=='女'}?checked">
        </div>
        <div>
            <span>生日：</span>
            <input type="text" class="base" name="birthday" placeholder="例如:2000/08/01" th:value="${employee!=null}?${#dates.format(employee.getBirthday(),'yyyy/MM/dd')}">
        </div>
        <div>
            <span>邮箱：</span>
            <input type="text" class="base" name="email"  th:value="${employee!=null}?${employee.getEmail()}">
        </div>
        <div>
            <span>部门：</span>
            <select class="base" name="dept" >
                <option th:value="${dept.getDName()}" th:each="dept:${depts}" th:selected="${employee!=null} and ${employee.getDept()==dept.getDName()}?selected">[[${dept.getDName()}]]</option>
            </select>
        </div>
        <div>
         <input type="submit" class="sub" th:value="${employee!=null}?确认修改:确认增加" value="确认修改" >
        </div>
    </form>
</body>
</html>