<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>员工管理页面</title>
    <link href="asserts/images/favicon.ico" th:href="@{/asserts/images/favicon.ico}" rel="shortcut icon" >
    <link href="asserts/css/empList.css" th:href="@{/asserts/css/empList.css}" rel="stylesheet">
    <link href="/asserts/js/jquery-3.4.1.js" th:href="@{/webjars/jquery/3.4.1/jquery.js}" rel="script">
    <script type="text/javascript" src="asserts/js/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<!--    <link href="" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">-->
<!--    会修改默认的table属性-->
</head>
<body>

<script>
    $("#doSearch").click(function () {

    })
</script>

    <div class="header">
        <div class="user">
            <p><a href="admin_datils" th:text="${session.loginUser}">用户名+头像</a></p>
        </div>
        <div class="function">
            <a class="bt_add" href="/emp" name="add">添加</a>
            <div class="search">
                <input type="text" name="findDatils" placeholder="查询员工">
                <select id="findCondition" class="">
                    <option value="1">按工号</option>
                    <option value="2">按姓名</option>
                </select>
                <!--图片的尺寸可以在标签里面设计好-->
                <img id="doSearch" th:src="@{/asserts/images/search.png}" alt="搜索">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="dept">
            <li><a id="all" href="/emps">总览</a></li>
            <ul th:each="dept:${dpts}">
                <li><a th:href="@{/emps/}+${dept.getDName()}" th:text="${dept.getDName()}">部门</a></li>
            </ul>
        </div>
        <div class="list">
            <!--#id .class  标签名-->
            <table id="emps_table">
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>出生日期</th>
                        <th>邮箱</th>
                        <th>部门</th>
                        <th>选项</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emp:${emps}">
                        <td th:text="${emp.getId()}"></td>
                        <td th:text="${emp.getName()}"></td>
                        <td th:text="${emp.getSex()}"></td>
                        <td th:text="${#dates.format(emp.getBirthday(),'yyyy/MM/dd')}">
                        <td th:text="${emp.getEmail()}"></td>
                        <td th:text="${emp.getDept()}"></td>
                        <td class="chice_box">
                            <a  class="bt_change" name="change" th:href="@{/emp/}+${emp.getId()}" >修改</a>
<!--                            <a class="bt_delete" th:attr="delete_uri=@{/emp/}+${emp.getId()}">删除</a>-->
                            <a class="bt_delete" th:attr="delete_uri=@{/emp/}+${emp.getId()}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form id="deleteEmp" method="post">
        <input type="hidden" name="_method" value="delete">
    </form>

    <script>
        $(".bt_delete").click(function () {
            $("#deleteEmp").attr("action",$(this).attr("delete_uri")).submit();
        });
    </script>
<!--    HiddenHttpMethodFilter 在spring boot 2.0 之后默认关闭了，需要在application配置文件里手动开启
         yml:  mvc:
                hiddenmethod:
                 filter:
                    enabled: true-->
</body>
</html>