<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello,master!</title>
    <link rel="shortcut icon" href="../favicon.ico" />
<!--    <link rel="icon" href="asserts/images/favicon.ico" th:href="@{/asserts/images/fa.ico}">-->
<!--    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">-->
<!--    <link href="asserts/css/login.css" th:href="@{/asserts/css/login.css}" rel="stylesheet">-->
</head>
<body>
    <h3>OK，你可以表演了！</h3>
    <a  class="btn btn-sm" href="/emp" >put</a>
    <a class="btn btn-sm" href="/emp">get</a>
    <a class="btn btn-sm"  href="">管理员</a>
    <a class="btn btn-sm" href="/emps">员工</a>
    <a class="btn btn-sm" href="">后台</a>
    <!--模板引擎的页面需要增加viewController-->
</body>
</html>