<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>成功</title>
</head>
<body>
    <h3>成功！</h3>
<!--    &lt;!&ndash;使用thymeleaf&ndash;&gt;-->
<!--    &lt;!&ndash;th:text 设置div里面的文本内容  th 可以改变任意值&ndash;&gt;-->
<!--    <div th:text="${abc}"></div>-->

<!--    &lt;!&ndash; utext 设置不会转义&ndash;&gt;-->
<!--    <div th:utext="${abc}"></div>-->
<!--    &lt;!&ndash;三个h3&ndash;&gt;-->
<!--    <h4  th:text="${user}" th:each="user:${users}"></h4>-->
</body>
</html>